@use 'variables' as v;

/** Media Queries **/
@mixin telefono {
    @media (max-width: v.$telefono) {
        @content;
    }
}
@mixin tablet {
    @media (max-width: v.$tablet) {
        @content;
    }
}
@mixin tabletlg {
    @media (max-width: v.$tablet_lg) {
        @content;
    }
}
@mixin desktop {
    @media (max-width: v.$desktop) {
        @content;
    }
}
@mixin desktoplg {
    @media (max-width: v.$desktop_lg) {
        @content;
    }
}
@mixin television {
    @media (max-width: v.$television) {
        @content;
    }
}

@mixin text-shadow {
    text-shadow: 1px 3px 15px #00000087;
}

@mixin transition {
    transition: all .25s ease;
}

@mixin flex($prop, $gap){
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: $prop;
    gap: $gap;
}

@mixin grid($n, $gap){
    display: grid;
    grid-template-columns: repeat($n, 1fr);
    grid-gap: $gap;
}

@mixin shadow($x, $y, $desenfocar, $color) {
    box-shadow: $x $y $desenfocar $color;
}

@mixin max_width($n){
    width: 100%;
    max-width: $n;
}

@mixin centrar_absolute{
    left: 50%;
    transform: translateX(-50%);
}

@mixin hr($color){
    width: 100%;
    height: 2px;
    display: block;
    background: $color;
}

@mixin contain($size){
    display: block;
    width: $size;
    height: $size;
    aspect-ratio: 1/1;
    object-fit: contain;
    object-position: center;
}

@mixin boton{
    border-radius: 22px;
    font-size: 1rem;
    min-height: 40px;
    background: v.$azul;
    padding: 8px 20px;
    color: v.$blanco;
    font-family: v.$medium;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    &:hover{
        background: v.$celeste;
    }
}

@mixin limit($n){
    display: -webkit-box;
    -webkit-line-clamp: $n;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@mixin line($bottom, $color){
    &::before{
        content: '';
        position: absolute;
        width: 125%;
        left: 50%;
        transform: translateX(-50%);
        bottom: - $bottom;
        height: 8px;
        border-radius: 5px;
        background: $color;
    }
}

@mixin forma_fondo(){
    &::before, &::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}